@import "../../styles/sass/helpers/variables";
@import "../../styles/sass/helpers/mixins";
@import "../../styles/sass/components/_header";
.darkModeEnabled .projects .heading {
  &::after {
    content: "My Work";
  }
}
.projects .heading {
  &::after {
    content: "My Work";
  }
}
.projectsSection {
  position: relative;
}
.effect-wrap .effect {
  position: absolute;
  z-index: 0;
}
.effect-1,
.effect-5 {
  width: 30px;
  height: 30px;
  border: 4px solid $main-color;
  top: 15%;
  right: 10%;
  filter: drop-shadow(2px 2px 1px #4b4b4b);
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes topb {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
  }
}
.effect-3,
.effect-4 {
  height: 180px;
  width: 180px;
  border: 25px solid $main-color;
  border-radius: 50%;
  left: -60px;
  filter: drop-shadow(1px 2px 3px #4b4b4b);
  animation: topb 3s ease-in-out infinite;
}
.effect-4 {
  left: -60px;
  filter: drop-shadow(2px 2px 2px #4b4b4b);
}
.effect-5 {
  bottom: 5%;
  right: 10%;
}
.effect-6,
.effect-7 {
  border-top: 30px solid transparent;
  border-left: 30px solid $main-color;
  left: 40%;
  top: 50%;
  animation: spin 10s linear infinite;
  filter: drop-shadow(1px 1px 2px #4b4b4b);
}
.effect-6::before,
.effect-7::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid $main-color;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.projects .effect-7 {
  top: 500px;
  filter: drop-shadow(1px 1px 2px #4b4b4b);
}
.skills .effect-7 {
  top: 90%;
  filter: drop-shadow(1px 1px 2px #4b4b4b);
}
