/* Start Footer */
footer {
  background-color: $green-color;
  .copyright > span {
    color: $main-color;
  }
  .copyright div span {
    color: $yellow-color;
  }
  svg {
    width: 20px;
    height: 20px;
    &.facebook {
      background-color: #1877f2;
    }
    &.twitter {
      background-color: #1da1f2;
    }
    &.linkedin {
      background-color: #0a66c2;
    }
    &.youtube {
      background-color: #ff0000;
    }
  }
}
/* End Footer */
