@import "../../styles/sass/helpers/variables";
@import "../../styles/sass/helpers/mixins";
.contact {
  & .right {
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.7s;
    @include center;
    margin-top: 20px;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    & input,
    textarea {
      width: 450px;
      background-color: transparent;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid $main-color;
      outline: none;
      color: $main-color;
      font-size: 20px;
      resize: none;
      @include average-screen {
        width: 100%;
      }
    }
    & label {
      margin-bottom: 10px;
    }
    & .button {
      width: fit-content;
      padding: 20px 50px;
      outline: 0;
      user-select: none;
      font-size: 22px;
      font-weight: bold;
      font-family: poppins, sans-serif;
      border: 0;
      background: transparent;
      color: $main-color;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      &:active {
        color: $main-color;
        transform: translate(1px, 1px);
        -webkit-transform: translate(1px, 1px);
        -moz-transform: translate(1px, 1px);
        -ms-transform: translate(1px, 1px);
        -o-transform: translate(1px, 1px);
      }
      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
      & span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, transparent, $main-color);
        animation: input1 2s linear infinite;
      }
      @keyframes input1 {
        0% {
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
        }
      }
      & span:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, transparent, $main-color);
        animation: input2 2s linear infinite;
        animation-delay: 1s;
      }
      @keyframes input2 {
        0% {
          transform: translateY(-100%);
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
        }
        100% {
          transform: translateY(100%);
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
        }
      }
      & span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, transparent, $main-color);
        animation: input3 2s linear infinite;
      }
      @keyframes input3 {
        0% {
          transform: translateX(100%);
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
        }
      }
      & span:nth-child(4) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to top, transparent, $main-color);
        animation: input4 2s linear infinite;
        animation-delay: 1s;
      }
      @keyframes input4 {
        0% {
          transform: translateY(100%);
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
        }
        100% {
          transform: translateY(-100%);
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
        }
      }
    }
  }
}
